#inner-box{
    height: 250px;
    width: 250;
    border-width: 20px;
    border-style: solid;
    border-color: cyan;
    background-color: purple;
    box-sizing: content-box;
}
#outer-box{
    background-color: teal;
    padding: 50px;
    height: 300px;
    width: 300;
}
.bg-img1{
    width: 50%;
    border-radius: 50%;
    border: 10px solid cyan;
}