#demo01{
    border: 4px solid black;
    padding: 150px;
    /* background-color: purple; */
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Bachelor%27s_button%2C_Basket_flower%2C_Boutonniere_flower%2C_Cornflower_-_3.jpg/1200px-Bachelor%27s_button%2C_Basket_flower%2C_Boutonniere_flower%2C_Cornflower_-_3.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
}

.box1{
    width: 350px;
    height: 50px;
    margin: 10px;
    border: 5px solid orange;
    padding: 80px;
    box-sizing: content-box;
}
.box2{
    width: 350px;
    height: 50px;
    margin: 10px;
    border: 5px solid cyan;
    padding: 80px;
    box-sizing: border-box;
}